<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">mietEsel</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="isAdmin">
        <a
          href="/admin/bikestations"
          class="nav-link"
          routerLink="bikestations"
          *ngIf="isAdmin"
          >Stations</a
        >
      </li>
      <a
        href="/admin/bikemodels"
        class="nav-link"
        routerLink="bikemodels"
        *ngIf="isAdmin"
        >Models</a
      >
      <a
        href="/admin/bikecategorys"
        class="nav-link"
        routerLink="bikecategorys"
        *ngIf="isAdmin"
        >Categories</a
      >
      <a href="/admin/bikes" class="nav-link" routerLink="bikes" *ngIf="isAdmin"
        >Bikes</a
      >
      <li class="nav-item">
        <a
          href="/user"
          class="nav-link"
          *ngIf="isLoggedIn && !isAdmin"
          routerLink="user"
          >User</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
